body
{
    width:520px;
    overflow: hidden;
    background-color: white;
    max-height: 850px;
    margin:0;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
}

/* Action bar css */
#action-bar{
    display: block;
    width:100%;
    height:76px;
    padding:10px;
}

#action-bar>img,
#action-bar>h3,
#action-bar>button{
    float: left;
}

#action-bar>h3{
    padding-left:105px;
    margin-top:15px;
}

#action-bar>button{
    right:0;
    margin-top:10px;
    border-radius: 25px;
    border:none!important;
    outline: none!important;
}

/* Saved Link css */

.slimScrollDiv{
    height:100%;
}
.saved-input-box{
    border:1px solid lightblue;
    height:38px;
    width:100%;
    border-radius:25px;

}

.saved-links-container p{
    margin-left:10px;
}
.saved-input-box>span,
.saved-input-box>input,
.saved-input-box>button{
    float: left;
    display: inline-block;
    outline:none!important;
    border:none!important;
}

.saved-input-box .form-control{
    width:340px;
}

.saved-links-container .container-fluid{
    padding-left:0;
    padding-right: 0;
    margin-right:10px;
}

.saved-links-container .saved-input-box span{
    padding-left:10px;
    padding-right:8px;
    padding-top:3px;
    color: #34495E;
}

.saved-links-container .saved-input-box button{
    height:30px;
    width:35px;
    margin-top:4px;
    margin-right:8px;
    background-color: #fff;
    color:black;
}

/* new link form */

.modal-body{
    height:250px;
    margin-left:0;
}

.logo-option{
    padding: 5px;
    height:100px;
    background-color: #F4F6F7;
    border-radius: 25px;
    border:1px solid gray;
}

.logo-option>ul{
    padding-left:10px;
}

.links-logo{
    list-style: none;
    margin:0;
}

.links-logo-list{
    float: left;
    padding:7px;
    margin:0;
}

.links-logo-list>span{
    cursor: pointer;
}


.new-link,
.new-name{
    border:1px solid lightblue;
    margin-top:10px;
    margin-bottom:10px;
    height:38px;
    width:100%;
    border-radius: 25px;
}

.new-name>span,
.new-name>input,
.new-link>span,
.new-link>input{
    float: left;
}

.new-name>span,
.new-link>span{
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}


.new-link>input,
.new-name>input{
    width:400px;
    border:none;
    height: 36px;
    outline: none!important;
}

